/*두번째 section */
.ex_background {
  min-width:1400px;
  position:relative;
  background-image: url("../images/background/hd-wallpaper-ga1acccb1c_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ex {
  position: relative;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.phone_wrap{
  width: 414px;
  height: 836px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 15px rgba(0, 0, 0s, 0.302);
  box-sizing: border-box;
  transform: scale(0.6);
  overflow:hidden;
  border-radius: 49px;
}
.phone_img {
  transform: scale(1.029);
  border-radius:49px;
  position:relative;
  z-index: 11;
  
}
.phone_img > img {
  width: 100%;
  
}
.swiper_phone{
  width: 414px;
  height: 836px;
  transform: translate(0,-100%);
}

/*swiper item*/
.phone_wrap .item {
  background-repeat: no-repeat;
  background-position: top center;
}
/*1*/
.phone_wrap .it1:nth-child(1) {
  background-image: url("../images/background/illom1.png");
}
.phone_wrap .it1:nth-child(2) {
  background-image: url("../images/background/illom2.png");
}
.phone_wrap .it1:nth-child(3) {
  background-image: url("../images/background/illom3.png");
}
.phone_wrap .it1:nth-child(4) {
  background-image: url("../images/background/illom2.png");
}
/*2*/
.phone_wrap .it2:nth-child(1) {
  background-image: url("../images/background/illom1.png");
}
.phone_wrap .it2:nth-child(2) {
  background-image: url("../images/background/illom2.png");
}
.phone_wrap .it2:nth-child(3) {
  background-image: url("../images/background/illom3.png");
}
.phone_wrap .it2:nth-child(4) {
  background-image: url("../images/background/illom2.png");
}
/*3*/
.phone_wrap .it3:nth-child(1) {
  background-image: url("../images/background/illom1.png");
}
.phone_wrap .it3:nth-child(2) {
  background-image: url("../images/background/illom2.png");
}
.phone_wrap .it3:nth-child(3) {
  background-image: url("../images/background/illom3.png");
}
.phone_wrap .it3:nth-child(4) {
  background-image: url("../images/background/illom2.png");
}
/*4*/
.phone_wrap .it4:nth-child(1) {
  background-image: url("../images/background/illom1.png");
}
.phone_wrap .it4:nth-child(2) {
  background-image: url("../images/background/illom2.png");
}
.phone_wrap .it4:nth-child(3) {
  background-image: url("../images/background/illom3.png");
}
.phone_wrap .it4:nth-child(4) {
  background-image: url("../images/background/illom2.png");
}
.fixed_ex_menu {
  position: absolute;
  width:500px;
  height:100px;
  z-index: 11;
  top: 66%;
  left: 59%;
  transform: translate(-50%, -50%);
}
.fixed_ex_menu .swiper-pagination{
  display:inline-block;
  width:600px;
  height:100px;
  display: flex;
  flex-wrap: wrap;
}
.fixed_ex_menu .swiper-pagination ul{
  display:inline-block;
  width:100px;
  height:100px;
  position: relative;
  background-color: rgb(255, 255, 255);
  
}
.fixed_ex_menu .swiper-pagination li{
  display:inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.fixed_ex_menu .swiper-pagination-bullet{
  border: 1px solid #ffffff;
  opacity: 1;
  box-sizing: border-box;
}
.fixed_ex_menu .swiper-pagination-bullet-active{
  border: 5px solid #ffffff;
  box-shadow: 2px 3px 13px rgba(0, 0, 0, 0.246);
  transform: scale(1.04);
}
.swiper-pagination img{
  top:0;
  left:0;
  border-radius: 50%;
  width:100%;
}

.fixed_ex_menu ul li img {
  width: 100%;
}
.example {
  height:40vh;
}
.example_title {
  font-size: 60px;
}
.example_des_title {
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.example_des {
  font-size: 18px;
  line-height: 30px;
}
/* 
@media screen and (max-width:900px) {
  
.ex {
  flex-direction: column;
  justify-content:center;
}
.example {
  padding-left: 10px;
  transform: translateY(-20%);
  z-index: 50;
}
.example_title {
  font-size:3em;
}
.example_des_title {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 20px;
}
.example_des {
  font-size: 1em;
  line-height: 20px;
}
.phone_wrap{
}
  .fixed_ex_menu {
    display: none;
    
  }
  
}

@media screen and (max-width:500px) {
  
  .example {
    padding-left: 10px;
    transform: translateY(0%);
  }
  .example_title {
    font-size:1.5em;
  }
  .example_des_title {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .example_des {
    font-size: 0.8em;
    line-height: 20px;
  }
  .phone_wrap{
    transform: scale(0.6);
  }
    .fixed_ex_menu {
      display: none;
      
    }
    
  } */